<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MercuryExperience"
        tools:targetApi="31">

        <activity
            android:name=".ui.app.auth.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".ui.app.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".ui.app.Details.MovieDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".ui.app.favorites.FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".ui.app.review.AddReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.MercuryExperience" />

        <activity
            android:name=".ui.app.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MercuryExperience">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>